<div class="col-sm-offset-3 col-md-6 text-center">
    <h1><b>Put your comment here</b></h1>
    <textarea  [(ngModel)]="content"  id="editor" class="form-control">

    </textarea>
</div>
<div class="col-sm-offset-3 col-md-6 text-right margin-top-5">
    <button (click)="publishComment()" class="btn btn-primary">Publish Comment</button>
</div>

<div class="col-sm-offset-3 col-md-6 text-center">
        <h1><b>This is your comment</b></h1>
        <div [innerHTML]="htmlContent  | safe: 'html'"></div>
</div>

